<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Input Test</title>
		<link rel="stylesheet" href="build/app.css">
	</head>
	<body>

      <div>
        <label>
          Sizes
        </label>
        <span>
          <input type="text" class="primary small" value="sample text" />
          <input type="text" class="primary medium" value="sample text" />
          <input type="text" class="primary large" value="sample text" />
        </span>
      </div>
      <div>
        <label>
          Placeholder
        </label>
        <span>
          <input type="text" class="primary medium" placeholder="Placeholder" />
        </span>
      </div>

	</body>
</html>
