//==========================================================================
//   Grid System
//==========================================================================

@mixin grid($columns:16, $grid-name: 'grid', $grid-column: 'column') {
  .grid {
    display: flex;

    > .column {
      flex: 1;
      margin-right: ms(0);

      &:last-child {
        margin-right: 0;
      }

      @for $i from 1 through 16 {
        &.flex-#{$i} {
          flex: $i;
        }

      }
    }
  }
}
